@mixin parrafo{
	font-family:$font-family-navbar-a;
	padding-top: 10px;
	font-size: 16px;
	color:$GrisTexto ;
}

@mixin titulos-import{
	font-family: $font-family-seccion;
	color:$GrisOscuroTitulos;
}

@mixin text-date{
	font-family:$font-profile-editorial;
	color:$GrisClarofecha;
}

@mixin linea-blue{
	margin-top: 82px;
    margin-bottom: 54px;
    border: 0;
    border-top: 4px solid $Azul;
}

@mixin box-shadow() {
-webkit-box-shadow: 0px -1px 26px 1px rgba(224,224,224,1);
-moz-box-shadow: 0px -1px 26px 1px rgba(224,224,224,1);
box-shadow: 0px -1px 26px 1px rgba(224,224,224,1);
}

@mixin a-zul{
	color:$Azul;
	font-family: $font-family-navbar-a;
}

@mixin box{
	padding-bottom: 4px;
    padding-top: 10px;
}

@mixin lista-footer{
	ul{
		padding-left: 0px;
	}
	li {
   		list-style-type: none;
		}
	a{
		color:$GrisClarofecha;
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
		cursor: pointer;
	}
}